[submodule "build"]
	path = build
	url = https://github.com/Samsung/islet-build.git
[submodule "upstream-trusted-firmware-a"]
	path = upstream-trusted-firmware-a
	url = https://github.com/ARM-software/arm-trusted-firmware
