*.swp
*.swo
/out/
Cargo.lock
__pycache__
target/

third-party/*
!third-party/README.md
!third-party/worktree.toml

cli/islet
sdk/sdk-example-c

docs/

rusty-tags.vi*

.crates.toml
.crates2.json

/examples/veraison/bin
/hes/out

examples/cross-platform-e2ee/gflags/
examples/cross-platform-e2ee/googletest/
examples/cross-platform-e2ee/protobuf/
examples/cross-platform-e2ee/third-party-arm/

*/rustc-ice*
