*.swp
*.swo
/out/
__pycache__
target/

third-party/*
!third-party/README.md

cli/islet
sdk/sdk-example-c

code-coverage/
docs/

rusty-tags.vi*

.crates.toml
.crates2.json

/hes/out

examples/cross-platform-e2ee/gflags/
examples/cross-platform-e2ee/googletest/
examples/cross-platform-e2ee/protobuf/
examples/cross-platform-e2ee/third-party-arm/

unsafe-call-trace.log
unsafe-items-list.log
/venv

android_on_qemu
