[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://github.sec.samsung.net/SYSSEC/trusted-firmware-a.git
	branch = main
[submodule "tf-a-tests"]
	path = tf-a-tests
	url = https://github.sec.samsung.net/SYSSEC/tf-a-tests.git
	branch = main
[submodule "assets-arm-cca"]
	path = assets
	url = https://github.sec.samsung.net/SYSSEC/assets-arm-cca.git
	branch = main
[submodule "vm-image"]
	path = vm-image
	url = https://github.sec.samsung.net/SYSSEC/arm-cca-vm-image.git
